.appbar {
  background-color: #073c56 !important;
  color: #000000 !important;
}
.leftIcon {
  color: #fffffe !important;
}

/* links */

.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
